<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
              background-color: linen;
            }
            
            h1 {
              text-align: center;
              margin-top: 70px;
            } 
            .box{
              height: 200px;
              width: 200px;
              border: 1px solid black;
              margin: 10px;
            }
            #boxes{
              display: flex;
            }
            </style>

    </head>
    <body>
        <h1>Welcome!</h1>
        <div id="boxes">
          {% for x in range(num) %}
          <div class="box" style ="background-color: {{bgcolor}} "></div>
        {% endfor %}
      </div>
        
        
    </body>
</html>