<!DOCTYPE html>
<html lang="en">
<head>
<title>add user</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <div id="all">
        <h1>All the Users</h1>
    <!--table-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {%for user in all_users%}
                <tr>
                <!-- <th scope="row">{{Users}}</th> --> 
                     
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="line"></div>
    <h1>Add a User</h1>
    <div id="center_form">
        <form action='/result' method='post'>
            {% csrf_token %}
            <div class="same_line">
                <p> First Name: <input type="text" name="first_name"></p>
                <p> Last Name: <input type="text" name="last_name"></p>
            </div>
            <div class="same_line">
                <p> Email: <input type="text" name="email" id="pad"></p>
                <p> Age: <input type="text" name="age" id="pad"></p>
            </div>
            <button  id="center"type="submit"> Add </button>
    
    
            </form>
    
        </div>

    </div>
    
    






</body>
</html>